/* fonts */
@font-face {
    font-family: "Manrope";
    src: url(fonts/Manrope/static/Manrope-Medium.ttf);
}

@font-face {
    font-family: "Mohave";
    src: url(fonts/Mohave/static/Mohave-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Sourcecode Pro";
    src: url(fonts/SourcecodePro/SourceCodePro-Regular.ttf);
}

/* universal tags */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
    font-size: 14px;
    text-align: center;
}

body {
    background-color: #f5faf6;
    color: #1a1a1a;
}

header {
    background-color: #f0f2f5;
    padding: 8px;
    width: 100%;
}

nav {
    width: 100%;
    background-color: #f0f2f5;
    position: sticky;
    top: -1px;
    margin: 0;
    z-index: 100;
}

nav a {
    color: #1a1a1a;
    padding: 8px;
    transition: .5s;
    width: 136px;
    font-family: "Manrope";
    font-weight: bold;
    display: inline-block;
}

nav a:hover {
    color: #f5faf6;
    background-color: #4bb378;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Mohave", sans-serif;
    margin: 0px 4px;
    line-height: 1.1;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 45px;
}

h4 {
    font-size: 34px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 19px;
}

p {
    margin: 0 8px;
}

a {
    text-decoration: none;
    color: #4bb378;
}

a:hover {
    color: #1a1a1a;
}

section {
    width: 100%;
    padding: 48px 0 48px 0;

}

#pageTitle {
    text-transform: uppercase;
    font-size: 65px;
    letter-spacing: 16px;
    font-weight: normal;
}
#pageTitle strong {
    font-size: 55px;
}

/* colours section */
#colours div {
    display: inline-block;
    margin: 8px 32px;
    padding: 16px;
    border-radius: 20px;
}

#colours article {
    width: 160px;
    height: 160px;
    border: 0px solid #000000;
    border-radius: 100px;
    margin: 16px;
    padding: 16px;
    box-shadow: 0px 5px 5px #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .5s;
}

#colours article:hover {
    transform: scale(1.1);
}

#lightMode {
    background-color: #f0f2f5;
}

#darkMode {
    background-color: #292929;
    color: #fcfcfc;
}

#light2 {
    background-color: #f0f2f5;
}

#light3 {
    color: #f5faf6;
    background-color: #3385ff;
}

#light4 {
    color: #f5faf6;
    background-color: #4bb378;
}

#light5 {
    color: #f5faf6;
    background-color: #1a1a1a;
}

#dark1 {
    background-color: #292929;
    color: #fcfcfc;
}

#dark2 {
    background-color: #292937;
    color: #fcfcfc;
}

#dark3 {
    background-color: #4e84d4;
    color: #fcfcfc;
}

#dark4 {
    background-color: #f5a13b;
    color: #fcfcfc;
}

#dark5 {
    background-color: #fcfcfc;
    color: #292929;
}

/* fonts section */
#fonts article {
    margin: 32px 0;
}

#fonts p {
    font-size: 20px;
}

/* text styles section */
#textStyles {
    width: 80%;
    margin: 0 auto;
}

#textStyles article {
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* buttons section */
#buttons article {
    display: inline-block;
    margin: 32px;
    border-radius: 32px;
    padding: 16px;
}

#buttons button {
    font-weight: bold;
    margin: 8px;
    padding: 8px 16px;
    border-radius: 50px;
}

#button1 {
    border: 2px solid #3385ff;
    color: #3385ff;
    transition: .3s;
}

#button1:hover {
    border: 2px solid #3385ff;
    background-color: #3385ff;
    color: #f5faf6;
}

#button1:active {
    background-color: #4bb378;
    border: 2px solid #4bb378;
    box-shadow: inset;
}

#button2 {
    border: 2px solid #4bb378;
    background-color: #4bb378;
    color: #f5faf6;
    transition: .3s;
}

#button2:hover {
    background-color: rgba(75, 179, 120, 0);
    color: #4bb378;
}

#button2:active {
    color: #1a1a1a;
}

#button3 {
    border: 2px solid #4bb378;
    color: #1a1a1a;
    transition: .3s;
}

#button3:hover {
    color: #4bb378;
}

#button3:active {
    border: 2px solid #1a1a1a;
    color: #1a1a1a;
}

#button4 {
    background-color: #3385ff;
    border: 2px solid #f5faf6;
    color: #f5faf6;
    transition: .3s;
}

#button4:hover {
    background-color: #4bb378;
    border: 2px solid #4bb378;
    color: #f5faf6;
}

#button4:active {
    border: 2px solid #1a1a1a;
    color: #1a1a1a;
}

#button5 {
    background-color: rgba(41, 41, 41, 0);
    border: 2px solid #fcfcfc;
    color: #fcfcfc;
    transition: .3s;
}

#button5:hover {
    border: 2px solid #4e84d4;
    background-color: #4e84d4;
    color: #fcfcfc;
}

#button5:active {
    background-color: #f5a13b;
    border: 2px solid #f5a13b;
    box-shadow: inset;
}

#button6 {
    border: 2px solid #f5a13b;
    background-color: #f5a13b;
    color: #fcfcfc;
    transition: .3s;
}

#button6:hover {
    background-color: rgba(41, 41, 41, 0);
    color: #f5a13b;
}

#button6:active {
    color: #fcfcfc;
}

#button7 {
    background-color: rgba(41, 41, 41, 0);
    border: 2px solid #f5a13b;
    color: #f5a13b;
    transition: .3s;
}

#button7:hover {
    background-color: #f5a13b;
    color: #fcfcfc;
}

#button7:active {
    border: 2px solid #292929;
    color: #292929;
}

#button8 {
    background-color: #4e84d4;
    border: 2px solid #4e84d4;
    color: #fcfcfc;
    transition: .3s;
}

#button8:hover {
    background-color: rgba(41, 41, 41, 0);
    border: 2px solid #4e84d4;
    color: #4e84d4;
}

#button8:active {
    border: 2px solid #f5a13b;
    color: #f5a13b;
}

/* footer section */
footer {
    background-color: #f0f2f5;
    padding: 16px;
    text-align: left;
}

footer p {
    display: inline-block;
}

/* styling classes */
.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.boldItalic {
    font-weight: bold;
    font-style: italic;
}

.mohave {
    font-family: "Mohave";
}

.manrope {
    font-family: "Manrope";
}

.poppins {
    font-family: "Poppins";
}

.sourcecodePro {
    font-family: "Sourcecode Pro";
}

.marginBottom {
    margin-bottom: 32px;
}

.floatRight {
    float: right;
}

.blueBg {
    background-color: #3385ff;
    color: #f5faf6;
}

.lightModeBg {
    background-color: #f5faf6;
    color: #1a1a1a;
}

.darkModeBg {
    background-color: #292929;
    color: #fcfcfc;
}

.codeText {
    background-color: rgba(26, 26, 26, .1);
    width: 80%;
    padding: 8px;
    margin: 8px auto;
    font-family: "Sourcecode Pro";
    border-radius: 8px;;
}
